
h1{
    font-family: sans-serif;
    font-size: 65px;
    color: orange;
}
p{
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
    line-height: 4.5em;
    text-align: center;
}
a{
    text-decoration: none;
}
#yellow{
   background-color: yellow;
}
#red{
    background-color: red;
}
#brown{
    background-color: brown;
}
/* classes */
.cor-fundo{
    background-color: gray;
}
.fonte-do-body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
